.btn-round {
  color: aliceblue !important;
}
.btn {
  color: aliceblue !important;
}
input {
  -webkit-appearance: none;
}
input {
  -webkit-appearance: button;
}
// .chooseFile {
//   color: #7e7e7e;
//   font-size: 14px;
//   font: "Open Sans";
// }
#button {
  margin-right: 5px;
}
