<div class="row" *ngIf="listTopic">
  <div class="col-sm-12">
    <div class="page-header card">
      <div class="row align-items-end">
        <div class="col-lg-11">
          <div class="page-header-title">
            <h4 style="margin-bottom: 20px;">Danh sách đề tài</h4>
          </div>
        </div>
        <div class="spinner-grow" role="status" *ngIf="loading"></div>
      </div>
      <div class="table-responsive" *ngIf="!loading">
        <table class="table">
          <thead>
            <tr>
              <th>Stt</th>
              <th>Tên đề tài</th>
              <th>Người đăng ký</th>
              <th>Đơn vị</th>
              <th>
                <div class="" style="float: right;">
                  <button (click)="gotoCre()" class="btn btn-primary btn-sm">
                    <i class="icofont icofont-plus"></i>
                  </button>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of itemsPreriod; let i = index">
              <th scope="row">
                {{ (pagedResult.pageNo - 1) * pagedResult.pageSize + i + 1 }}
              </th>
              <td>{{ item.nameTopic }}</td>
              <td>{{ item.nameUser }}</td>
              <td>{{ item.nameSchool }}</td>
              <td>
                <div style="float: right;">
                  <button
                    (click)="gotoInfo(item.id)"
                    class="btn btn-info btn-sm "
                    id="button"
                  >
                    <i class="icofont icofont-info"></i>
                  </button>
                  <button
                    (click)="gotoEdit(item.id)"
                    class="btn btn-success btn-sm "
                    id="button"
                  >
                    <i class="icofont icofont-edit"></i>
                  </button>
                  <button
                    (click)="OnDel(item.id)"
                    class="btn btn-danger btn-sm "
                  >
                    <i class="icofont icofont-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="pagedResult">
        <app-pagination
          (pageSizeChange)="pageSizeChange($event)"
          [defaultPageSize]="pageSize"
          [pagedResult]="pagedResult"
          (pagedResultChange)="pagedResultChange($event)"
        >
        </app-pagination>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="formCre">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="card-header-right">
          <i class="icofont icofont-spinner-alt-5"></i>
        </div>
        <div class="card-header-right">
          <i class="icofont icofont-spinner-alt-5"></i>
        </div>
      </div>
      <div class="card-block">
        <div class="card-header">
          <h4 class="sub-title d-inline">Thêm đề tài</h4>
        </div>
        <form [formGroup]="form" (ngSubmit)="OnCreate()">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tên đề tài</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Tên đề tài"
                formControlName="NameTopic"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Thể loại</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                placeholder="Tìm kiếm"
                formControlName="CategoryId"
                type="text"
                list="lstC"
                (input)="searchCategory($event)"
                required
              />
              <datalist id="lstC">
                <option
                  *ngFor="let s of listSearchCategory; let i = index"
                  [value]="s.nameCategory"
                >
                  {{ s.nameCategory }}
                </option>
              </datalist>
              <span *ngIf="categoryErr" class="messages" style="color: #FC6180;"
                >Đề tài không tồn tại</span
              >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Người đăng ký</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                placeholder="Tìm kiếm"
                formControlName="UserId"
                type="text"
                list="lstU"
                (input)="searchUser($event)"
                required
              />
              <datalist id="lstU">
                <option
                  *ngFor="let s of listSearchUser; let i = index"
                  [value]="s.username"
                >
                  Tài khoản: {{ s.username }} || Tên đầy đủ: {{ s.fullName }} ||
                  Email: {{ s.email }}
                </option>
              </datalist>
              <span *ngIf="userErr" class="messages" style="color: #FC6180;"
                >Người dùng không tồn tại</span
              >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Đơn vị</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                placeholder="Tìm kiếm"
                formControlName="SchoolId"
                type="text"
                list="lstS"
                (input)="searchSchool($event)"
                required
              />
              <datalist id="lstS">
                <option
                  *ngFor="let s of listSearchSchool; let i = index"
                  [value]="s.nameSchool"
                >
                  {{ s.nameSchool }}
                </option>
              </datalist>
              <span *ngIf="schoolErr" class="messages" style="color: #FC6180;"
                >Đơn vị không tồn tại</span
              >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">File</label>
            <div class="col-sm-10">
              <div class="custom-file">
                <input
                  type="file"
                  class="form-control"
                  formControlName="NameFile"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Mô tả</label>
            <div class="col-sm-10">
              <textarea
                rows="5"
                cols="5"
                class="form-control"
                formControlName="Description"
                placeholder="Mô tả"
              ></textarea>
            </div>
          </div>
          <button
            type="submit"
            [disabled]="!form.valid"
            class="btn btn-primary btn-round float-right"
          >
            Thêm
          </button>
          <a
            (click)="backtoListTopic()"
            class="btn btn-inverse btn-round float-right"
            id="button"
            >Hủy</a
          >
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="formEdit">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="card-header-right">
          <i class="icofont icofont-spinner-alt-5"></i>
        </div>
        <div class="card-header-right">
          <i class="icofont icofont-spinner-alt-5"></i>
        </div>
      </div>
      <div class="card-block">
        <div class="card-header">
          <h4 class="sub-title d-inline">Cập nhật thông tin đề tài</h4>
        </div>
        <form [formGroup]="form" (ngSubmit)="OnUpdate()">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tên đề tài</label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                placeholder="Tên đề tài"
                formControlName="NameTopic"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Thể loại</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                placeholder="Tìm kiếm"
                formControlName="CategoryId"
                type="text"
                list="lstC"
                (input)="searchCategory($event)"
                required
              />
              <datalist id="lstC">
                <option
                  *ngFor="let s of listSearchCategory; let i = index"
                  [value]="s.nameCategory"
                >
                  {{ s.nameCategory }}
                </option>
              </datalist>
              <span *ngIf="categoryErr" class="messages" style="color: #FC6180;"
                >Đề tài không tồn tại</span
              >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Người đăng ký</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                placeholder="Tìm kiếm"
                formControlName="UserId"
                type="text"
                list="lstU"
                (input)="searchUser($event)"
                required
              />
              <datalist id="lstU">
                <option
                  *ngFor="let s of listSearchUser; let i = index"
                  [value]="s.username"
                >
                  Tài khoản: {{ s.username }} || Tên đầy đủ: {{ s.fullName }} ||
                  Email: {{ s.email }}
                </option>
              </datalist>
              <span *ngIf="userErr" class="messages" style="color: #FC6180;"
                >Người dùng không tồn tại</span
              >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Đơn vị</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                placeholder="Tìm kiếm"
                formControlName="SchoolId"
                type="text"
                list="lstS"
                (input)="searchSchool($event)"
                required
              />
              <datalist id="lstS">
                <option
                  *ngFor="let s of listSearchSchool; let i = index"
                  [value]="s.nameSchool"
                >
                  {{ s.nameSchool }}
                </option>
              </datalist>
              <span *ngIf="schoolErr" class="messages" style="color: #FC6180;"
                >Đơn vị không tồn tại</span
              >
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">File</label>
            <div class="col-sm-10">
              <div class="custom-file">
                <input
                  type="file"
                  class="form-control"
                  formControlName="NameFile"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Mô tả</label>
            <div class="col-sm-10">
              <textarea
                rows="5"
                cols="5"
                class="form-control"
                formControlName="Description"
                placeholder="Mô tả"
              ></textarea>
            </div>
          </div>
          <button
            type="submit"
            [disabled]="!form.valid"
            class="btn btn-success btn-round float-right"
          >
            Cập nhật
          </button>
          <a
          id="button"
            (click)="backtoListTopic()"
            class="btn btn-inverse btn-round float-right"
            >Hủy</a
          >
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="listCouncil">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <div class="card-header">
          <h2 class="sub-title d-inline">Đề tài: {{ nameTopic }}</h2>
          <a
            (click)="listCouncilBack()"
            style="float: right;"
            class="btn btn-inverse btn-sm"
            id="button"
            ><i class="ti-arrow-left"></i
          ></a>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên hội đồng</th>
                <th>Mô tả</th>
                <th>
                  <div style="float: right;" *ngIf="disableAdd">
                    <button
                      [disabled]="!btnAdd"
                      (click)="OnAddCouncil()"
                      class="btn btn-primary btn-sm float-right"
                    >
                      <i class="icofont icofont-plus"></i>
                    </button>
                    <input
                      placeholder="    Tìm kiếm"
                      style="height: 34px;"
                      type="text"
                      list="lst"
                      [(ngModel)]="valueSearch"
                      (input)="searchChange($event)"
                    />
                    <datalist id="lst">
                      <option
                        *ngFor="let s of listSearch"
                        [value]="s.nameCouncil"
                      >
                        {{ s.nameCouncil }}
                      </option>
                    </datalist>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itemsEdit; let i = index">
                <th scope="row">
                  {{ (pagedResult.pageNo - 1) * pagedResult.pageSize + i + 1 }}
                </th>
                <td>{{ item.nameCouncil }}</td>
                <td>{{ item.description }}</td>
                <td>
                  <div style="float: right;">
                    <button
                      (click)="OnDelCouncil(item.id)"
                      class="btn btn-danger btn-sm "
                    >
                      <i class="icofont icofont-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="pagedResult">
          <app-pagination
            (pageSizeChange)="pageSizeChange($event)"
            [defaultPageSize]="pageSize"
            [pagedResult]="pagedResult"
            (pagedResultChange)="pagedResultChange($event)"
          >
          </app-pagination>
        </div>
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
