<div class="row" *ngIf="list">
  <div class="col-sm-12">
    <div class="page-header card">
      <div class="row align-items-end">
        <div class="col-lg-11">
          <div class="page-header-title">
            <h4 style="margin-bottom: 20px;">Danh sách vai trò</h4>
          </div>
        </div>
        <div class="spinner-grow" role="status" *ngIf="loading"></div>
      </div>
      <div class="table-responsive" *ngIf="!loading">
        <table class="table">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên vai trò</th>
              <th>Mô tả</th>
              <th>
                <div style="float: right;">
                  <button (click)="gotoCre()" class="btn btn-primary btn-sm">
                    <i class="icofont icofont-plus"></i>
                  </button>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index">
              <th scope="row">
                {{ (pagedResult.pageNo - 1) * pagedResult.pageSize + i + 1 }}
              </th>
              <td>{{ item.nameRole }}</td>
              <td>{{ item.description }}</td>
              <td>
                <div style="float: right;">
                  <button
                    (click)="gotoInfo(item.id)"
                    style="margin-right: 5px;"
                    class="btn btn-info btn-sm "
                    id="button"
                  >
                    <i class="icofont icofont-info"></i>
                  </button>
                  <button
                    (click)="gotoEdit(item.id)"
                    style="margin-right: 5px;"
                    class="btn btn-success btn-sm "
                    id="button"
                  >
                    <i class="icofont icofont-edit"></i>
                  </button>
                  <button
                    (click)="gotoDel(item.id)"
                    class="btn btn-danger btn-sm "
                  >
                    <i class="icofont icofont-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="pagedResult">
          <app-pagination
            (pageSizeChange)="pageSizeChange($event)"
            [defaultPageSize]="pageSize"
            [pagedResult]="pagedResult"
            (pagedResultChange)="pagedResultChange($event)"
          >
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body" *ngIf="formCre">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5"></i>
          </div>
          <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5"></i>
          </div>
        </div>
        <div class="card-block">
          <div class="card-header">
            <h4 class="sub-title d-inline">Thêm mới vai trò</h4>
          </div>
          <form [formGroup]="roleForm" (ngSubmit)="OnSubmit()">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Tên vai trò</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Tên vai trò"
                  formControlName="NameRole"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Mô tả</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Mô tả"
                  formControlName="Description"
                />
              </div>
            </div>
            <button
              style="margin-left: 10px;"
              type="submit"
              [disabled]="!roleForm.valid"
              class="btn btn-primary btn-round float-right"
            >
              Thêm
            </button>
            <a
              (click)="back()"
              class="btn btn-inverse btn-round float-right"
              id="button"
              >Hủy</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body" *ngIf="formUp">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status" *ngIf="loading">
              <span class="sr-only" *ngIf="loading">Loading...</span>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-header">
            <h4 class="sub-title">Cập nhật vai trò</h4>
          </div>
          <form [formGroup]="roleForm" (ngSubmit)="OnUpdate()">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Tên vai trò</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Tên vai trò"
                  name="Tên vai trò"
                  formControlName="NameRole"
                  readonly
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Mô tả</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Mô tả"
                  formControlName="Description"
                />
              </div>
            </div>
            <button
              style="margin-left: 10px;"
              type="submit"
              [disabled]="!roleForm.valid"
              class="btn btn-success btn-round float-right"
            >
              Cập nhật
            </button>
            <a
              (click)="back()"
              class="btn btn-inverse btn-round float-right"
              id="button"
              >Hủy</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="nameRole">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-block">
        <div class="card-header">
          <h2 class="sub-title d-inline">Tên role: {{ nameR }}</h2>
          <button
            (click)="nameRoleB()"
            style="float: right;"
            class="btn btn-inverse btn-sm"
            id="button"
          >
            <i class="ti-arrow-left"></i>
          </button>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>STT</th>
                <th>Nhóm</th>
                <th>
                  <div style="float: right;">
                    <button
                      [disabled]="!btnAdd"
                      (click)="addUser()"
                      class="btn btn-primary btn-sm float-right"
                    >
                      <i class="icofont icofont-plus"></i>
                    </button>
                    <input
                      placeholder="Tìm kiếm"
                      style="height: 34px;"
                      type="text"
                      list="lstu"
                      (input)="searchChange($event)"
                    />
                    <datalist id="lstu">
                      <option *ngFor="let l of listG" [value]="l.nameGroup"
                        >{{ l.nameGroup }}
                      </option>
                    </datalist>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of itemsInfo; let i = index">
                <th scope="row">
                  {{ (pagedResult.pageNo - 1) * pagedResult.pageSize + i + 1 }}
                </th>
                <td>{{ item.nameGroup }}</td>
                <td>
                  <div style="float: right;">
                    <button
                      (click)="gotoDelG(item.id)"
                      class="btn btn-danger btn-sm "
                    >
                      <i class="icofont icofont-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="pagedResult">
          <app-pagination
            (pageSizeChange)="pageSizeChange($event)"
            [defaultPageSize]="pageSize"
            [pagedResult]="pagedResult"
            (pagedResultChange)="pagedResultChange($event)"
          >
          </app-pagination>
        </div>
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
